.assets-page {
  background-color: var(--bg-main-2);
  .assets-total-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 0 3rem 0;
    .assets-tot-left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      span {
        font-size: 1.6rem;
        color: #a6a9b9;
        font-weight: 400;
      }
      h6 {
        font-size: 2.8rem;
        color: var(--fff-000);
        font-weight: 600;
        margin: 0.5rem 0 0 0;
      }
    }
    .assets-tot-btn {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      button {
        margin: 0 0 0 1.5rem;
      }
    }
    .assets-total-box {
      width: 35rem;
      height: 35rem;
    }
  }
  .assets-exc-bal-box {
    display: grid;
    grid-template-columns: 1fr 30rem;
    grid-template-rows: auto;
    grid-gap: 2.5rem;
    width: 100%;
    .a-exc-bal-left {
      display: grid;
      grid-template-columns: max-content max-content;
      grid-template-rows: auto;
      grid-gap: 2.5rem;
      width: 100%;
      .a-exc-box {
        width: 100%;
        border: 1.5px solid var(--border-color-1);
        border-radius: 15px;
        padding: 1.5rem 3.5rem 1.5rem 1.5rem;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0 1.5rem 0 0;
        .assets-orange {
          background-color: transparent;
          width: 2rem;
          height: 2rem;
          border: 6.25px solid #fcac56;
          border-radius: 50%;
        }
        .assets-blue {
          background-color: transparent;
          width: 2rem;
          height: 2rem;
          border: 6.25px solid #4762f0;
          border-radius: 50%;
        }
        .a-exc-para {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          margin: 0 0 0 1rem;
          span {
            color: #a6a9b9;
            font-size: 1.4rem;
            font-weight: 400;
          }
          h6 {
            font-size: 2.25rem;
            color: var(--fff-000);
            font-weight: 600;
            margin: 0.25rem 0;
          }
          p {
            color: #26b194;
            font-size: 1.4rem;
            font-weight: 500;
          }
        }
      }
    }
    .a-exc-bal-right {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      width: 100%;
      flex-direction: column;
      .a-exc-right-top {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        flex-direction: column;
        margin: 0 0 1.75rem 0;
        .a-right-top-para {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          margin: 0 0 0.5rem 0;
          span {
            font-size: 1.4rem;
            color: #a6a9b9;
            font-weight: 400;
          }
          h6 {
            font-size: 1.4rem;
            color: var(--fff-000);
            font-weight: 500;
          }
        }
        .a-right-top-y-line {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          width: 100%;
          background-color: var(--border-color-1);
          height: 1.15rem;
          border-radius: 6px;
          .y-inner-l {
            width: 40%;
            background-color: #fcac56;
            border-radius: 6px;
            height: 100%;
          }
          .b-inner-l {
            width: 70%;
            background-color: #4762f0;
            border-radius: 6px;
            height: 100%;
          }
        }
      }
    }
  }
}
.assets-table {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin: 3rem 0 0 0;
  h5 {
    font-size: 2.5rem;
    color: var(--fff-000);
    font-weight: 600;
  }
}
.assets-main-table {
  width: 100%;
  margin: 2.5rem 0 0 0;
  background-color: var(--bg-main-2);
  padding: 0 2rem 2rem 2rem;
}
.assets-table-content {
  width: 100%;
  border-collapse: collapse;
  tr {
    th {
      font-size: 1.2rem;
      color: #a6a9b9;
      padding: 2.5rem 0 2.5rem 0;
      font-weight: 500;
      text-align: left;
    }
    /* th:nth-child(1) {
      position: sticky;
      left: 0;
      background-color: var(--bg-main-2);
      z-index: 10;
      min-width: 2.25rem;
    } */
    th:nth-child(2) {
      position: sticky;
      left: 0;
      background-color: var(--bg-main-2);
      z-index: 10;
    }
  }
  .table-border-box {
    width: 100%;
    border-top: 1px solid var(--border-color-1) !important;
    td {
      font-size: 1.4rem;
      color: #a6a9b9;
      font-weight: 400;
      padding: 1.5rem 2.5rem 1.5rem 0;
      .td-name {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        img {
          min-width: 3.5rem;
          max-width: 3.5rem;
          object-fit: contain;
        }
        .td-name-icon-1 {
          background-color: #627eea;
          display: flex;
          justify-content: center;
          align-items: center;
          max-width: 3.5rem;
          min-width: 3.5rem;
          max-height: 3.5rem;
          min-height: 3.5rem;
          border-radius: 50%;
          svg {
            width: 2rem;
          }
        }
        .td-name-icon-2 {
          background-color: #002352;
          display: flex;
          justify-content: center;
          align-items: center;
          max-width: 3.5rem;
          min-width: 3.5rem;
          max-height: 3.5rem;
          min-height: 3.5rem;
          border-radius: 50%;
          svg {
            width: 2rem;
          }
        }
        .td-name-icon-3 {
          background-color: #2e664c;
          display: flex;
          justify-content: center;
          align-items: center;
          max-width: 3.5rem;
          min-width: 3.5rem;
          max-height: 3.5rem;
          min-height: 3.5rem;
          border-radius: 50%;
          svg {
            width: 2rem;
          }
        }
        .td-name-icon-4 {
          background-color: #00a478;
          display: flex;
          justify-content: center;
          align-items: center;
          max-width: 3.5rem;
          min-width: 3.5rem;
          max-height: 3.5rem;
          min-height: 3.5rem;
          border-radius: 50%;
          svg {
            width: 2rem;
          }
        }
        .td-name-icon-5 {
          background-color: #662d91;
          display: flex;
          justify-content: center;
          align-items: center;
          max-width: 3.5rem;
          min-width: 3.5rem;
          max-height: 3.5rem;
          min-height: 3.5rem;
          border-radius: 50%;
          svg {
            width: 2rem;
          }
        }
        .td-name-icon-6 {
          background-color: #22417d;
          display: flex;
          justify-content: center;
          align-items: center;
          max-width: 3.5rem;
          min-width: 3.5rem;
          max-height: 3.5rem;
          min-height: 3.5rem;
          border-radius: 50%;
          svg {
            width: 2rem;
          }
        }
        h6 {
          font-size: 1.4rem;
          font-weight: 500;
          color: var(--fff-000);
          margin: 0 0 0 1.25rem;
          span {
            font-weight: 400;
            color: #a6a9b9;
            padding: 0 0 0 0.5rem;
          }
        }
      }
      .white-td {
        p {
          color: var(--fff-000);
        }
      }
      .green-td {
        p {
          color: #26b194;
        }
      }
      .red-td {
        p {
          color: #ff6651;
        }
      }
      .yellow-td {
        p {
          color: #fcac56;
        }
      }
    }
    td:nth-child(1) {
      /* position: sticky;
      left: 0;
      background-color: var(--bg-main-2);
      min-width: 2.25rem;
      z-index: 10; */
      padding: 1.5rem;
    }
    td:nth-child(2) {
      position: sticky;
      left: 0;
      background-color: var(--bg-main-2);
      z-index: 10;
    }
  }
}
@media screen and (max-width: 1150px) {
  .assets-page .assets-exc-bal-box {
    grid-template-columns: 1fr;
    grid-gap: 2.5rem;
  }
  .assets-page .assets-exc-bal-box .a-exc-bal-left {
    grid-template-columns: 1fr 1fr;
    grid-gap: 2.5rem;
  }
  .assets-page
    .assets-exc-bal-box
    .a-exc-bal-right
    .a-exc-right-top:last-child {
    margin: 0;
  }
}
@media screen and (max-width: 750px) {
  .assets-table-content .table-border-box td .td-name {
    flex-direction: column;
    align-items: flex-start;
    img {
      max-width: 2.5rem;
      min-width: 2.5rem;
      margin: 0 0 0.5rem 0;
    }
    h6 {
      margin: 0;
      span {
        font-size: 1rem;
      }
    }
  }
  .assets-page .assets-total-box {
    flex-direction: column;
    align-items: flex-start;
  }
  .assets-page .assets-total-box .assets-tot-btn {
    margin: 0;
    button {
      margin: 1.5rem 1.5rem 0 0;
    }
  }
  .assets-page .assets-exc-bal-box .a-exc-bal-left {
    grid-template-columns: 1fr;
  }
}
