.detail-page {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  .detail-grid {
    /* display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 2rem; */
    background-color: var(--bg-main-2);
    border-radius: 15px;
    padding: 2.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .detailgridcontent-box {
      width: 100%;
      margin: 0 0 0 2.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .detailgridcontent1 {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: max-content;
      min-width: max-content;
      .dg-name-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 3.5rem;
        min-width: 3.5rem;
        max-height: 3.5rem;
        max-width: 3.5rem;
        background-color: #ff9f38;
        border-radius: 50%;
        svg {
          width: 1.75rem;
        }
      }
      .dg-para {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 0 1.75rem !important;
        h5 {
          font-size: 2.4rem;
          color: var(--fff-000);
          font-weight: 600;
        }
        h6 {
          font-size: 1.6rem;
          color: #a6a9b9;
          font-weight: 400;
          margin: 0.25rem 0 0 0 !important;
        }
      }
      .dgdrop-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          width: 2rem;
        }
      }
    }
    .detailgridcontent {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      border-left: 1.5px solid var(--border-color-1);
      padding: 0 1rem 0 2.5rem;
      span {
        font-size: 1.4rem;
        color: #a6a9b9;
        font-weight: 400;
      }
      p {
        color: var(--fff-000);
        font-weight: 500;
        font-size: 1.4rem;
        margin: 0.25rem 0 0 0 !important;
      }
    }
  }
  .detail-bottom-box {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin: 3rem 0;
    .detail-bottom-left-box {
      max-width: 75rem;
      margin: 0 2.5rem 0 0;
    }
    .detail-bottom-left-graph {
      width: 100%;
      background-color: var(--bg-main-2);
      margin: 0 0 2.5rem 0;
      width: 100%;
      border-radius: 1.25rem;
      position: relative;
      // height: 30rem !important;
      canvas {
        width: 100% !important;
        height: 100% !important;
        object-fit: contain;
      }
      .ReactChart {
        width: calc(100% - 4.5rem) !important;
        height: calc(100% - 4.5rem) !important;
        position: absolute !important;
        top: 2.25rem !important;
        left: 2.25rem !important;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          width: 100% !important;
          height: 100% !important;
          object-fit: contain !important;
        }
      }
    }
    .detail-bottom-left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      width: 100%;
      background-color: var(--bg-main-2);
      .detail-bot-leftbottom {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        background-color: var(--bg-main-2);
        h4 {
          font-size: 1.8rem;
          color: var(--fff-000);
          font-weight: 600;
          margin: 0 0 2.5rem 0 !important;
        }
        p {
          font-size: 1.4rem;
          color: #a6a9b9;
          font-weight: 400;
        }
      }
    }
    .detail-bottom-right {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      background-color: var(--bg-main-2);
      .buttons-grid {
        width: 100%;
        margin: 0 0 2.5rem 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2.5rem;
        grid-template-rows: auto;
      }
      width: 100%;
      .dbright-price {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        p {
          font-size: 1.4rem;
          color: var(--fff-000);
          font-weight: 400;
          margin: 0 0 1rem 0;
        }
        .dbright-para {
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: var(--bg-main);
          padding: 1.15rem;
          border-radius: 15px;
          margin: 0 0 2rem 0;
          width: 100%;
          h6 {
            font-size: 1.4rem;
            color: var(--fff-000);
            font-weight: 400;
          }
        }
      }
      button {
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: 1150px) {
  .detail-page .detail-grid {
    flex-direction: column;
    align-items: flex-start;
  }
  .detail-page .detail-grid .detailgridcontent-box {
    margin: 2.5rem 0 0 0;
  }
  .detail-page .detail-grid .detailgridcontent:nth-child(1) {
    margin: 0;
    padding: 0;
  }
  .detail-page .detail-bottom-box {
    flex-direction: column;
  }
  .detail-page .detail-bottom-box .detail-bottom-left-box {
    max-width: 100%;
    margin: 0;
  }
  .detail-page .detail-bottom-box .detail-bottom-right {
    margin: 2.5rem 0 0 0;
  }
}
@media screen and (max-width: 1000px) {
  .detail-page .detail-grid .detailgridcontent {
    width: 100%;
  }
  .detail-page .detail-grid .detailgridcontent-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1.5rem;
  }
  .detail-page .detail-grid .detailgridcontent,
  .detail-page .detail-grid .detailgridcontent:nth-child(1) {
    padding: 1.5rem 0 0 0 !important;
    border-top: 1.5px solid var(--border-color-1) !important;
    border-left: 0;
  }
}
