.market-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  // padding: 2.5rem 0 0 0;
  h5 {
    font-size: 2.5rem;
    color: var(--fff-000);
    font-weight: 600;
    margin-bottom: 0;
  }
  .MarketPageButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 2.5rem 0 0 0;
    .MarkerbtnLeft {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      a {
        font-size: 1.4rem;
        color: #a6a9b9;
        font-weight: 500;
        background-color: transparent;
        padding: 1rem 2.5rem;
        border-radius: 1000px;
        margin: 0 0 0 0;
        width: max-content;
        &:hover {
          background-color: var(--bg-main-2);
          color: #dab539;
        }
      }
    }
    .MarketbtnRight {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      select {
        border-radius: 12px;
        border: 1.5px solid #a6a9b9;
        background-color: transparent;
        padding: 1rem 1.5rem;
        font-size: 1.4rem;
        color: #a6a9b9;
        font-weight: 500;
      }
    }
  }
  button {
    margin: 2.5rem auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12%;
  }
}
@media screen and (max-width: 750px) {
  .market-page .MarketPageButtons {
    flex-direction: column;
    align-items: flex-start;
    .MarketbtnRight {
      width: 100%;
      margin: 1.5rem 0 0 0;
      select {
        width: 100%;
      }
    }
  }
}
