.setting-page {
  background-color: var(--bg-main-2);
  .setting-header {
    width: 100%;
    margin: 0 0 0.75rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2 {
      font-size: 2.75rem;
      color: var(--fff-000);
      font-weight: 600;
    }
  }
  .setting-cross {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    .setting-cross-inner {
      display: flex;
      cursor: pointer;
      justify-content: flex-start;
      align-items: center;
      width: max-content;
      margin: 2rem 2.5rem 0 0;
      .setting-cross-box {
        max-width: 2rem;
        max-height: 2rem;
        min-height: 2rem;
        min-width: 2rem;
        border-radius: 50%;
        background-color: #f9857a;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          font-size: 1.5rem;
          color: #fff;
        }
      }
      h6 {
        font-size: 1.6rem;
        color: var(--fff-000);
        font-weight: 500;
        margin: 0 0 0 1.5rem;
        width: max-content;
      }
    }
  }
}
.setting-main-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 2.5rem;
  width: 100%;
  margin: 2.5rem 0 0 0;
  .setting-left {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 2.5rem;
    .sleft-fa {
      background-color: var(--bg-main-2);
      h5 {
        font-size: 1.8rem;
        color: var(--fff-000);
        font-weight: 600;
      }
      .google-authentication {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 2.5rem 0;
        border-bottom: 1px solid var(--border-color-1);
        .goog-auth-left {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          .goog-icon {
            min-width: 4rem;
            min-height: 4rem;
            max-width: 4rem;
            max-height: 4rem;
            background-color: #2b2e41;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            svg {
              width: 2rem;
            }
          }
          .goog-para {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            margin: 0 0 0 1.5rem;
            h6 {
              font-size: 1.5rem;
              color: var(--fff-000);
              font-weight: 500;
              margin: 0 0 0.5rem 0;
            }
            p {
              color: #a6a9b9;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 25.2px;
              width: 100%;
            }
          }
        }
        .goog-auth-right {
          display: flex;
          justify-content: flex-end;
          align-items: center;
        }
      }
      .email-authentication {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 2rem 0 0 0;
        .goog-auth-left {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          .goog-icon {
            min-width: 4rem;
            min-height: 4rem;
            max-width: 4rem;
            max-height: 4rem;
            background-color: var(--border-color-1);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            svg {
              width: 2rem;
            }
          }
          .goog-para {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            margin: 0 0 0 1.5rem;
            h6 {
              font-size: 1.5rem;
              color: var(--fff-000);
              font-weight: 500;
              margin: 0 0 0.5rem 0;
            }
            p {
              color: #a6a9b9;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 25.2px;
              width: 75%;
            }
          }
        }
        .goog-auth-right {
          display: flex;
          justify-content: flex-end;
          align-items: center;
        }
      }
    }
    .sleft-dm {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: var(--bg-main-2);
      h5 {
        font-size: 1.8rem;
        color: var(--fff-000);
        font-weight: 600;
      }
    }
    .sleft-aa {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: var(--bg-main-2);
      .sl-aa-para {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        h5 {
          font-size: 1.8rem;
          color: var(--fff-000);
          font-weight: 600;
        }
        p {
          font-size: 1.4rem;
          color: #a6a9b9;
          font-weight: 400;
          margin: 1rem 0;
        }
        h6 {
          font-size: 1.4rem;
          color: var(--fff-000);
          font-weight: 500;
          span {
            color: #f9857a;
            margin: 0 0 0 0.5rem;
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }
  }
  .setting-right {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 2.5rem;
    .sright-ILA {
      background-color: var(--bg-main-2);
      .s-right-Iden {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid var(--border-color-1);
        padding: 2.5rem 0;
        h5 {
          font-size: 1.8rem;
          color: var(--fff-000);
          font-weight: 600;
        }
      }
      .s-right-Iden-2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid var(--border-color-1);
        padding: 0 0 2.5rem 0;
        h5 {
          font-size: 1.8rem;
          color: var(--fff-000);
          font-weight: 600;
        }
      }
      .s-right-Iden-1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 2.5rem 0;
        button {
          margin: 0 0 0 1rem;
        }
        .s-right-para {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          flex-direction: column;
          width: 100%;
          h5 {
            font-size: 1.8rem;
            color: var(--fff-000);
            font-weight: 600;
          }
          p {
            font-size: 1.4rem;
            color: #a6a9b9;
            font-weight: 400;
            line-height: 25.2px;
            margin: 1rem 0;
          }
          .s-right-off {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            span {
              font-size: 1.4rem;
              color: var(--fff-000);
              font-weight: 500;
            }
            img {
              width: 2rem;
              height: 2rem;
              margin: 0 3.5rem 0 1.25rem;
            }
          }
        }
      }
    }
    .sright-apc {
      background-color: var(--bg-main-2);
      .s-right-Iden-3 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 2.5rem 0;
        button {
          margin: 0 0 0 1rem;
        }
        .s-right-para {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          flex-direction: column;
          width: 70%;
          h5 {
            font-size: 1.8rem;
            color: var(--fff-000);
            font-weight: 600;
          }
          p {
            font-size: 1.4rem;
            color: #a6a9b9;
            font-weight: 400;
            line-height: 25.2px;
            margin: 1rem 0;
            width: 100%;
          }
          .s-right-off {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            span {
              font-size: 1.4rem;
              color: var(--fff-000);
              font-weight: 500;
            }
            img {
              width: 2rem;
              height: 2rem;
              margin: 0 1.35rem;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1150px) {
  .setting-main-box {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 750px) {
  .setting-main-box .setting-left .sleft-fa .google-authentication {
    flex-direction: column;
    align-items: flex-end;
    .goog-auth-right {
      margin: 1.5rem 0 0 0;
    }
  }
  .setting-main-box .setting-left .sleft-fa .google-authentication.ga-mob {
    border: 0;
    padding: 2.5rem 0 0 0;
  }
  .setting-main-box .setting-left .sleft-dm,
  .setting-main-box .setting-right .sright-ILA .s-right-Iden-2,
  .setting-main-box .setting-right .sright-ILA .s-right-Iden {
    flex-direction: column;
    align-items: flex-end;
    h5 {
      width: 100%;
      margin: 0 0 1.5rem 0;
    }
  }
  .setting-main-box .setting-left .sleft-aa {
    flex-direction: column;
    align-items: flex-end;
    .sl-aa-para {
      width: 100%;
      margin: 0 0 1.5rem 0;
    }
  }
  .setting-main-box .setting-right .sright-ILA .s-right-Iden-1,
  .setting-main-box .setting-right .sright-apc .s-right-Iden-3 {
    flex-direction: column;
    align-items: flex-end;
    .s-right-para {
      width: 100%;
      margin: 0 0 1.5rem 0;
    }
  }
  .setting-main-box .setting-right .sright-ILA .s-right-Iden-1 {
    padding: 2.5rem 0 0 0;
  }
  .setting-main-box .setting-right .sright-apc .s-right-Iden-3 {
    padding: 0;
  }
}
