.sign-inpage {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/src/assets/Img/bg-signin.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem;
  .sign-in-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 5rem;
    border-radius: 50px;
    min-width: 47.5rem;
    background-color: var(--bg-main-2);
    img {
      width: 7.5rem;
      margin: 0 0 2.5rem 0;
      object-fit: contain;
    }
    h3 {
      font-size: 2.6rem;
      color: var(--fff-000);
      font-weight: 500;
      margin: 0 0 4rem 0;
      width: 100%;
      text-align: center;
    }
    .sign-in-flabel {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      width: 100%;
      input {
        background-color: #191b20;
        border-radius: 12px;
        border: 2px solid transparent;
        padding: 2rem;
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--fff-000);
        margin: 0 0 2rem 0;
        width: 100%;
        &::placeholder {
          font-size: 1.25rem;
          color: #808191;
          font-weight: 700;
        }
        &:focus {
          border: 2px solid #dab539;
          background-color: #242731;
        }
      }
    }
    .sign-in-link {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      margin: 0 0 2.5rem 0 !important;
      a {
        font-size: 1.3rem;
        color: #dab539;
        cursor: pointer;
        font-weight: 600;
        margin: 0 0 0 1rem;
      }
    }
    button {
      width: 100%;
      padding: 1rem;
    }
    .btn-filled-yellow {
      width: 100%;
      padding: 1rem;
      margin: 2.5rem 0;
    }
    .sign-in-last {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      p {
        font-size: 1.3rem;
        color: var(--fff-000);
        font-weight: 600;
      }
      .sign-in-link {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 0 0 0 1.5rem !important;
        width: unset;
        h6 {
          font-size: 1.3rem;
          color: #dab539;
          font-weight: 600;
          margin: 0 0 0 1rem;
        }
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .sign-inpage {
    padding: 2rem;
  }
  .sign-inpage .sign-in-content {
    min-width: unset;
    width: 100%;
    padding: 2.5rem;
    border-radius: 2.5rem;
  }
}
