.sign-inpage {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-image: url(/src/assets/Img/bg-signin.png);
  .sign-in-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 6rem;
    border-radius: 50px;
    min-width: 47rem;
    background-color: #1f2335;
    margin: auto;
    h3 {
      font-size: 2.6rem;
      color: #fff;
      font-weight: 500;
      margin: 0 0 4rem 0;
    }
    .sign-in-flabel {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      width: 100%;
      input {
        background-color: #191b20;
        border-radius: 12px;
        border: 2px solid transparent;
        padding: 2rem;
        font-size: 1.4rem;
        font-weight: 600;
        color: #ffffff;
        margin: 0 0 2rem 0;
        width: 100%;
        &::placeholder {
          font-size: 1rem;
          color: #808191;
          font-weight: 700;
        }
        &:focus {
          border: 2px solid #dab539;
          background-color: #242731;
        }
      }
    }
    .sign-in-link {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      margin: 0 0 2.5rem 0 !important;
      cursor: pointer;
      h6 {
        font-size: 1.3rem;
        color: #dab539;
        cursor: pointer;
        font-weight: 600;
        margin: 0 0 0 1rem;
      }
    }
    button {
      width: 100%;
      padding: 1rem;
    }
    .btn-filled-yellow {
      width: 100%;
      padding: 1rem;
      margin: 3rem 0 1.5rem 0;
    }
    .sign-in-last {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      p {
        font-size: 1.3rem;
        color: #fff;
        font-weight: 600;
        width: 30%;
        cursor: pointer;
      }
      .sign-in-link {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 30%;
        margin: 0 !important;
        h6 {
          font-size: 1.3rem;
          color: #dab539;
          font-weight: 600;
          margin: 0 0 0 1rem;
        }
      }
    }
  }
}
