.btn-filled-yellow {
  min-width: max-content;
  border: 0;
  background-color: #dab539;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 0.75rem;
  outline: 0;
  min-width: 11rem;
  min-height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: $trns1;
  &:hover {
    background-color: rgba(255, 210, 63, 0.85);
  }
  &:active {
    background-color: rgba(255, 210, 63, 0.9);
  }
  svg {
    width: 1.75rem;
    margin: 0 0.75rem 0 0;
  }
}
.btn-outlined-gray-icon {
  min-width: max-content;
  border: 0;
  background-color: transparent;
  border: 1.5px solid #a6a9b9;
  color: #a6a9b9;
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 0.75rem;
  outline: 0;
  min-width: 11rem;
  min-height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: $trns1;
  &:hover {
    background-color: rgba(166, 169, 185, 0.05);
  }
  &:active {
    background-color: rgba(166, 169, 185, 0.1);
  }
  svg {
    width: 1.75rem;
    margin: 0 0.75rem 0 0;
  }
}
.btn-outlined-yellow {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 11rem;
  min-height: 3.5rem;
  border-radius: 6px;
  border: 1.5px solid #ffd33f;
  font-size: 1.4rem;
  font-weight: 500;
  color: #ffd33f;
  background-color: transparent;
  cursor: pointer;
  &:hover {
    background-color: rgba(255, 210, 63, 0.05);
  }
  &:active {
    background-color: rgba(255, 210, 63, 0.1);
  }
}
.btn-outlined-gray {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 11rem;
  min-height: 3.5rem;
  border-radius: 6px;
  border: 1.5px solid #a6a9b9;
  color: #a6a9b9;
  font-size: 1.4rem;
  font-weight: 500;
  background-color: transparent;
  cursor: pointer;
  &:hover {
    opacity: 0.9;
    background-color: rgba(166, 169, 185, 0.05);
  }
  &:active {
    background-color: rgba(166, 169, 185, 0.1);
  }
  svg {
    width: 1.75rem;
    margin: 0 0 0 0.75rem;
  }
}
