@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  font-size: 10px;
}
html,
body {
  width: 100%;
  max-width: 100%;
  background-color: var(--bg-main);
}
p {
  margin: 0;
}
.app {
  background-color: var(--bg-main);
  width: 100%;
  min-height: 100vh;
  height: 100%;
  max-width: 100%;
}
body {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}
input,
select {
  outline: 0;
  border: 0;
  font-size: 1.5rem;
  font-weight: 400;
}
a {
  cursor: pointer;
  text-decoration: none;
}
svg {
  object-fit: contain;
}
.dashboard-container {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: var(--bg-main);
}
.dashboard-content-container {
  width: 100%;
  min-height: 100vh;
  // position: absolute;
  // top: 7.5rem;
  // left: 22.5rem;
  padding: 10rem 2.5rem 2.5rem 25rem;
  background-color: var(--bg-main);
}

.links-page {
  width: 100%;
  height: 100vh;
  padding: 5rem;
  font-size: 1.75rem;
  background-color: #1f2335;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  a {
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    margin: 0 0 0.75rem 0;

    &:hover {
      span {
        text-decoration: underline;
      }
    }
  }
}
.lws-rounded-box {
  width: 100%;
  border-radius: 1.25rem;
  padding: 2.25rem;
}
.lws-table {
  width: 100%;
  max-width: 100%;
  position: relative;
  table {
    margin: auto;
    width: 100%;
    min-width: max-content;
    transform: translateZ(0px);
  }
}
.lws-table tbody tr {
  transition: 0.5s;
  position: relative;
  z-index: 100 !important;
  background-color: var(--bg-main-2);
  width: 100%;
  cursor: pointer;
}
.lws-table tbody tr:hover {
  transform: scale(1.05);
  border-radius: 1000px;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.15);
  z-index: 200 !important;
}
.lws-table tbody tr:hover img {
  transform: rotateX(360deg);
  transition: 1s;
}
.lws-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  img {
    width: 3.5rem;
    object-fit: contain;
  }
  span {
    font-size: 1.65rem;
    margin: 0 0 0 0.75rem;
    color: var(--fff-000);
  }
}
@media screen and (max-width: 750px) {
  .dashboard-container {
    padding: 5rem 0;
  }
  .dashboard-content-container {
    width: 100%;
    min-height: 100vh;
    position: relative;
    top: unset;
    left: unset;
    padding: 2.5rem 2rem;
    background-color: var(--bg-main);
  }
  .lws-rounded-box {
    padding: 1.75rem;
  }
}

.form-check .form-check-input {
  float: left;
  margin-left: -1.5em;
}

.form-check-input {
  width: 1em;
  height: 1em;
  margin-top: 0.25em;
  vertical-align: top;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid rgba(0, 0, 0, 0.25);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}
.form-check-input[type="checkbox"] {
  border-radius: 0.25em;
}
.form-check-input[type="radio"] {
  border-radius: 50%;
}
.form-check-input:active {
  filter: brightness(90%);
}
.form-check-input:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(218, 180, 57, 0.15);
}
.form-check-input:checked {
  background-color: #dab539;
  border-color: #dab539;
}
.form-check-input:checked[type="checkbox"] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}
.form-check-input:checked[type="radio"] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
}
.form-check-input[type="checkbox"]:indeterminate {
  background-color: #dab539;
  border-color: #dab539;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e");
}
.form-check-input:disabled {
  pointer-events: none;
  filter: none;
  opacity: 0.5;
}
.form-check-input[disabled] ~ .form-check-label,
.form-check-input:disabled ~ .form-check-label {
  opacity: 0.5;
}

.form-switch {
  padding-left: 2.5em;
}
.form-switch .form-check-input {
  width: 2em;
  margin-left: -2.5em;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
  background-position: left center;
  border-radius: 2em;
  transition: background-position 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .form-switch .form-check-input {
    transition: none;
  }
}
.form-switch .form-check-input:focus {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%2386b7fe'/%3e%3c/svg%3e");
}
.form-switch .form-check-input:checked {
  background-position: right center;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.was-validated .form-check-input:valid,
.form-check-input.is-valid {
  border-color: #198754;
}
.was-validated .form-check-input:valid:checked,
.form-check-input.is-valid:checked {
  background-color: #198754;
}
.was-validated .form-check-input:valid:focus,
.form-check-input.is-valid:focus {
  box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.25);
}
.was-validated .form-check-input:valid ~ .form-check-label,
.form-check-input.is-valid ~ .form-check-label {
  color: #198754;
}

.was-validated .form-check-input:invalid,
.form-check-input.is-invalid {
  border-color: #dc3545;
}
.was-validated .form-check-input:invalid:checked,
.form-check-input.is-invalid:checked {
  background-color: #dc3545;
}
.was-validated .form-check-input:invalid:focus,
.form-check-input.is-invalid:focus {
  box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
}
.was-validated .form-check-input:invalid ~ .form-check-label,
.form-check-input.is-invalid ~ .form-check-label {
  color: #dc3545;
}

.form-check-inline .form-check-input ~ .invalid-feedback {
  margin-left: 0.5em;
}

.form-check-inline .form-check-input ~ .valid-feedback {
  margin-left: 0.5em;
}
